src/main/mule/demo-jeniks.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="14cdce48-2ce4-401d-95e0-8013b04b6d65" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="demo-jeniksFlow" doc:id="62ebaa20-f54d-4ad0-9a16-fa6848e7d292" >
		<http:listener doc:name="Listener" doc:id="b38b2aa4-bb3e-48b4-9c53-6308239a561c" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="99271d4b-43bf-4b63-80ad-842ae3c39922" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="802a88a5-708f-4ae1-9686-b706916c69a1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6efb903c-a41b-4019-8d5c-8ad25a74cd08" message="#[payload]"/>
	</flow>
</mule>
